@{
    ViewBag.Title = "LogoutApp";
    Layout = "~/Views/SHARED/_AdminMaster.cshtml";
}

<style>
    a {
        text-decoration:none;
        color:red;
    }
</style>
<div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
        <p class="lead .txt-primary text-center" style="font-size:24px; color:blue">
            All Session Will Be Destory Due to Security Reasons
            <br />
            <a href="about:blank target=''">Click Here To Logout</a>

        </p>
    </div>
    <div class="col-sm-3">

    </div>
</div>