@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SHARED/MainMasterPage.cshtml";
    <title>RPaper Upload</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  
}


<div>
    <br />
    <br />
    <h2>Content body</h2>
    <br />
    <br />
</div>