@{
    ViewBag.Title = "AboutDDUK";
    Layout = "~/Views/SHARED/MainMaster.cshtml";
}

<div class="row">
    <div class="col-sm12">
    <hr />
        <a id="up"></a>
    <div class="mx-auto" style="width: 500px;">
     <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="/home/AboutCollege">About NPGC</a></li>
    <li class="page-item"><a class="page-link" href="/home/AboutDDUK">About DDUK</a></li>
    <li class="page-item"><a class="page-link" href="/home/AboutNPGCIIRJ">About NPGCIIRJ</a></li>
    
  </ul>
</nav>
        </div>
</div>
   <div class="row" >
       
       <h3 class="h3">About The Deen Dayal Upadhyay Kaushal Kendra</h3>
       <hr style="width:645px;" />
       <p class="lead text-primary" style="line-height:40px; font-size:22px;word-spacing:5px;text-align:justify">
           National PG College being a premier institute of higher education in the state and 
           being a pioneer in vocational education adds a feather to its cap. UGC sanctioned 
           three programs to National PG College in 2014, viz., Community College - 
           Office Automation and e-Governance, B.Voc – Software Development and e-Governance 
           and B.Voc- Banking and Finance. These courses became immensely successful in the 
           first year itself and National PG College had break-though admissions because of 
           its unique curriculum and pedagogy in spite of the fact that the courses were new 
           and required recognition in the society. The curriculum was developed in consultation 
           with various industries and the courses received very positive response from the society
            as well as the stakeholders. The industry showed keen interest in absorbing the students 
           passing out from these programs. To accomplish the goal various MOUs were signed with over
           12 Public Sector and Private Companies in the very first year which has plans to organize internships,
           job fairs, workshops, practical training et al in the future. The Ministry of HRD alongwith UGC launched 
           various skill development programs including the B.Voc program and Community College. However a need was
           felt to take integrated initiative towards ‘Knowledge Acquisition Upgradation and Skilled Human Abilities and Livelihood’ 
           for which these programs were merged into the Deen Dayal Upadhyay KAUSHAL Kendras during the XII plan period. These programs 
           ensure that graduates and postgraduates possessing vocational degrees have adequate knowledge and experience pertaining to specific sectors, 
           which has increased their employability prospects. In 2015, the college received sanction for opening two more courses – M.Voc Software & e-Governance and M.Voc- 
           Banking, Stocks and Insurance. All the programs were subsequently merged into the Deen Dayal Upadhyay KAUSHAL Kendra. In accordance with 
           NSQF and QPs, syllabi for two sectors – Banking and Finance & Software Development & e-Governance were established. 
           <b style="color:black;">The B.Voc and M.Voc program at National PG College provides for greater flexibility with multiple exits, multiple pathways, 
           and vertical mobility with the provision of Choice Based Credit System (CBCS).</b>
           
       </p>
       <nav aria-label="Page navigation example">
           <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#up">Move UpSide</a></li>
    
    
        </ul>
</nav>
   </div>
</div>
