@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/SHARED/MainMaster.cshtml";
}

<div class="row">
    <div class="col-sm12">
    <hr />
    <div class="mx-auto" style="width: 500px;">
     <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="/home/AboutCollege">About NPGC</a></li>
    <li class="page-item"><a class="page-link" href="/home/AboutDDUK">About DDUK</a></li>
    <li class="page-item"><a class="page-link" href="/home/AboutNPGCIIRJ">About NPGCIIRJ</a></li>
    
  </ul>
</nav>
        </div>
</div>
    
</div>
