@{
    ViewBag.Title = "AboutCollege";
    Layout = "~/Views/SHARED/MainMaster.cshtml";
}

<div class="row">
    <div class="col-sm12">
    <hr />
        <a id="up"></a>
    <div class="mx-auto" style="width: 500px;">
     <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="/home/AboutCollege">About NPGC</a></li>
    <li class="page-item"><a class="page-link" href="/home/AboutDDUK">About DDUK</a></li>
    <li class="page-item"><a class="page-link" href="/home/AboutNPGCIIRJ">About NPGCIIRJ</a></li>
    
  </ul>
</nav>
        </div>
</div>
   <div class="row" >
       <h3 class="h3">About The National PG College</h3>
       <hr style="width:410px;" />
       <p class="lead text-primary" style="line-height:40px; font-size:22px;word-spacing:5px;text-align:justify">
           National Post Graduate College was established in the year 1974 by the then Chief-minister of Uttar Pradesh, Late Chandra Bhanu Gupta. The college is situated close to the banks of river Gomti in the heart of the city, has lush green campus and is surrounded by a number of major institutions - Academic and Administrative.
In a city of 16 Universities and more than 150 degree colleges, National P.G. College is the only college which enjoys the highest status of CPE (College with Potential for Excellence) and Autonomous Status. The College offers under-graduate and postgraduate courses in Arts and Commerce faculties and under-graduate courses in Science and Computer faculties. The college also offers undergraduate and postgraduate programs for skill development under Deen Dayal Upadhyay Kaushal Kendra established with the special grant from University Grants Commission (UGC). There are six programs being offered under the scheme - two one-year programs under Community College and two degree and two post graduate programs under Deen Dayal Upadhyay Kaushal Kendra are being offered. DDUKK has components of ICT, ITES and Banking, Insurance and Financial services.
Well-equipped labs, computerised rich library, e-library, data analysis centre and air-conditioned reading room are some of the basic state of the art educational facilities.
Study centres for IGNOU and Uttar Pradesh Rajarshi Tandon Open University, Allahabad are offering a number of certificate, diploma and degree programs in distant mode. Regular consultation classes and remedial sessions are held for the students of the programs under IGNOU and UPRTOU.
NSS and NCC programs are part of outreach activities of the college inculcating the patriotism and the feeling of social service in the students.
College offers rigorous training for a number of indoor and outdoor sports such as Chess, Table Tennis, Lawn Tennis, BadMinton, athletics and cricket. District level inter degree collegiate cricket tournaments - Chandra Bhanu Gupta Inter Degree Collegiate Cricket Tournaments, Amit Singh Trophy.
The single life force functioning behind the college administration is to provide quality education with the objective of inculcating virtues of disciplined, dedicated and good citizens in the students. The students thus succeed in creating a society which has love, freedom, liberty, justice, equality and fraternity

       </p>
       <nav aria-label="Page navigation example">
           <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#up">Move UpSide</a></li>
    
    
        </ul>
</nav>
   </div>
</div>